<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">You are now checked-in Flight {{flightNumber}}, with PNR {{pnr}} and boarding pass number {{boardPassNum}}. Enjoy your flight!</h5>
      <a href="/reservations/my-bookings" class="btn btn-primary">Back to Reservation List</a>
    </div>
  </div>
</div>