<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/searchFlight">Search for Flights</a>
        <a class="nav-item nav-link" href="/reservationForm">Book a Flight</a>
        <a class="nav-item nav-link" href="/reservations">My Reservations</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
    </div>
</nav>
