<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/search-flight">Search for Flights</a>
        <a class="nav-item nav-link" href="/reservations/my-bookings">My Reservations</a>
        <a class="nav-item nav-link" href="/profile">Profile</a>
    </div>
</nav>
