<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Error {{errorCode}}</h5>
      <p>{{errorMsg}}</p>
      <a href="{{errorLink}}" class="btn btn-danger">{{errorBtnTxt}}</a>
    </div>
  </div>
</div>