<div>
    <h1>Welcome to (insert airline)!</h1>
    <a href="./flights/Flights" class="btn btn-primary">See Flights</a>
    <a href="/reservations/Reservation_List" class="btn btn-primary">See your Reservations</a>
    <a href="/users/edit-profile" class="btn btn-primary">Edit Profile</a>
</div>