<div>
    <h1>Welcome to (insert airline)!</h1>
    <a href="/flights" class="btn btn-primary">See Flights</a>
    <a href="/reservations" class="btn btn-primary">See your Reservations</a>
    <a href="/reservations" class="btn btn-primary">Edit Profile</a>
</div>