<div>
    <h1>Welcome to (insert airline)!</h1>
    <p>Login! Or if you are new, reister for an (insert airline) account!</p>
    <a href="/users/login" class="btn btn-primary">Login</a>
    <a href="/users/register" class="btn btn-primary">Register</a>
</div>