<div>
    <h1>Welcome to ApdevAir!</h1>
    <p>Login! Or if you are new, register for an ApdevAir account!</p>
    <a href="/partials/users/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</div>