<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/flights/Search_flight">Search for Flights</a>
        <a class="nav-item nav-link" href="/reservations/Reservation_Form">Book a Flight</a>
        <a class="nav-item nav-link" href="/reservations/Reservation_List">My Reservations</a>
        <a class="nav-item nav-link" href="/users/profile">Profile</a>
    </div>
</nav>