<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Thank you, {{req.session.user.username}}!</h5>
      <a href="/profile" class="btn btn-primary">See your profile here.</a>
    </div>
  </div>
</div>

