<div class="container mt-5">
    <h1 class="mb-4">Profile Registration</h1>
    <p>Please fill up the following below to create your own account!</p>

    <form id="registerProfile" action="/users/register" method="POST">
        <h4>Personal Information</h4>

        <div class="mb-3">
            <label for="firstName" class="form-label">First Name *</label>
            <input type="text" id="firstName" pattern="[A-Za-z]*" name="firstName" class="form-control" required />
        </div>
    
        <div class="mb-3">
            <label for="middleName" class="form-label">Middle Name *</label>
            <input type="text" id="middleName" pattern="[A-Za-z]*" name="middleName" class="form-control" required /> 
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name *</label>
            <input type="text" id="lastName" pattern="[A-Za-z]*" name="lastName" class="form-control" required /> 
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email Address *</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="ex: juan_delacruz@email.com" required />
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" id="phone" name="phone" class="form-control"/>
        </div>

        <br>
        <h4>Account Details</h4>

        <div class="mb-3">
            <label for="username" class="form-label">Username *</label>
            <input type="text" id="username" name="username" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password *</label>
            <input type="password" id="password" name="password" class="form-control" required />
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password *</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary"><b>Register</b></button>
        </div>

        <div class="mt-3" id="registerMsg"></div>
    </form>

    <script src="checkRegForm.js"></script>
</div>